<%- include ('../partials/_header.ejs') %>
    <h1>Sign in</h1>
    <form action="/auth/log-in" method="POST">
      <div>
          <label for="username">Username:</label>
          <input type="text" name="username" id="username">
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password">
      </div>
      <button type="submit" class="submit-btn">Log In</button>
    </form>
<%- include ('../partials/_footer.ejs') %>