<%- include ('../partials/_header.ejs') %>
      <h1>Launch a New Forum</h1>
      <form action="/forums" method="post">
        <div>
            <label for="field">Field:</label>
            <input type="text" name="field" id="field" required>
        </div>
        <div>
            <label for="description">A brief description:</label>
            <textarea name="description" id="description" required maxLength="100"></textarea>
        </div>
        <button type="submit">Launch</button>
      </form>
    <a href="/forums">Back to Forums</a>
<%- include ('../partials/_footer.ejs') %>