<%- include ('./partials/_header.ejs') %>
    <h1>Awards Forum:</h1>
    <p>Predict Races in Entertainments Largest Fields</p>
    <!-- <a href="/predictions">Predictions</a> -->
    <a href="/forums">Forums</a>

    <!-- add links to forums, prediction center -->
 <%- include ('./partials/_footer.ejs') %>