<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Awards Forum</title>
  </head>
  <body>
    <!-- partial template to have odds at top of page -->
    <% if (user) { %>
      <p>
        <a href="/auth/logout">Logout</a>
      </p>
    <% } else { %>
    <p>
      <a href="/auth/register">Register</a> <a href="/auth/log-in">Log In</a>
    </p>
    <% } %>
    <h1>Awards Forum:</h1>
    <p>Predict Races in Entertainments Largest Fields</p>
    <!-- <a href="/predictions">Predictions</a> -->
    <a href="/forums">Forums</a>

    <!-- add links to forums, prediction center -->
  </body>
</html>