<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New</title>
  </head>
  <body>
    <h1>Make Your Prediction</h1>
    <form action="/predictions" method="POST">
      <div>
        <label for="category">Category</label>
        <input type="text" name="category" id="category" required/>
      </div>
      <div>
        <label for="name">Predicted nominee:</label>
        <input type="text" name="name" id="name">
        <label for="rank">Ranking:</label>
        <input type="number" name="rank" id="rank" min="1" max="5" required>
      </div>
      <input type="hidden" name="points" id="points" value="0">
      <input type="hidden" name="createdBy" value="Adam" required>
      <button type="submit">Post Your Predictions!</button>
    </form>   
  </body>
</html>